@font-face {
font-family: 'icomoon';
src:  url('../fonts/icomoon.eot');
src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
url('../fonts/icomoon.ttf') format('truetype'),
url('../fonts/icomoon.woff') format('woff'),
url('../fonts/icomoon.svg') format('svg');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'devicons';
src: local('devicons'), url(https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/fonts/devicons.woff?xqxft6) format('woff');
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'fa-solid';
src: local('fa-solid'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/webfonts/fa-solid-900.woff2) format('woff2');
font-weight: 900;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'fa-brands';
src: local('fa-brands'), url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/webfonts/fa-brands-400.woff2) format('woff2');
font-weight: 400;
font-style: normal;
font-display: swap;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.resume-section{
 font-family: Georgia;
}

.fa-refind:before{
  content:"\e91a";
  font-family: 'icomoon';
}

.fa-zeneca:before{
  content:"\e928";
  font-family: 'icomoon';
}

.fa-binarysearch:before{
  content:"\ea81";
  font-family: 'icomoon';
}

.fa-duolingo:before{
  content:"\e901";
  font-family: 'icomoon';
}


.list-social-icons a:hover {
 color: #0062cc;
}
.list-icons .list-inline-item i:hover {
 color: #0062cc;
}
.bg-primary {
 background-color: #262423 !important;
}

.text-primary {
 color: #44A1F2 !important;
}

a {
 color: #44A1F2;
}

a:hover, a:focus, a:active {
 color: #0062cc;
}
