<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>O Oh Ohm</title>
<link rel="canonical" href="https://www.saikan.me/404.html" />
</head>
<body>
<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <style type="text/css" media="screen">
  .container {
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
  }
  h1 {
    margin: 30px 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -1px;
  }
</style>

<div class="container">
  <h1>404</h1>
  <p><strong>:Page not found</strong></p>
  <p>Don't panic. Panic don't.	</p>
  <p>There is still a 0.00000000000000000000000000000000000000000042 chance of your desired content appearing here at the exact second you are reading this.</p>
  <p>Good Luck!</p>
  <p>Or just teleport back to <a href=https://www.saikan.me>home</a></p>
</div>

</body>
</html>
